* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body {
    color: var(--primary);
    font-family: Helvetica, Arial, sans-serif;
}
/* COLOR GUIDE */
:root {
    --primary: #857070;
    --secondary: #6E7A56;
    --tertiary: #92533E;
    --darker: #11735B;
}

/* HEADER STYLE SECTION */
header {
    padding: 10px;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-image: url("../images/plant.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
header h1 {
    font-weight: lighter;
    font-size: 6vw;
    margin: 40px; 
}
header a {
    text-decoration: none;
    color: var(--tertiary);
}
header nav ul {
    display: block;
    padding: 10px;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
    line-height: 2;
}

header nav ul li a:hover {
    color: var(--darker);
  }
 

/* HERO STYLE SECTION */
.hero {
    background-image: url("../images/plant.jpg");
    background-size: cover;
    padding: 20px;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
} 

.hero-cta {
    width: 80%;
    text-align: center;
    font-style: italic;
    margin: .5%;
    line-height: 1.2;
    padding: 5px;
}
.hero-cta h2 {
    color: var(--primary);
    font-size: 20px;
    font-weight: lighter;
}

/* STYLES FOR ALL SECTIONS */
.info {
    margin: 25px 0;
    padding: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  .info h2 {
      font-size: 4vw;
      flex: 0 0 20%;
      line-height: 1.5;
      border-right: 1px solid;
      text-align: right;
      padding-right: 40px;
      font-weight: lighter;
      color: rgb(17,115,91, .75);
      width: 20%
  }
  .info div {
      flex: 0 0 78%;
  }

/* ABOUT ME STYLE SECTION */
.about {
    background: rgb(133,112,112, .25);
}

.about p {
    color: var(--tertiary);
    text-align: left;
    width: 65%;
    margin: 20px;
    position: relative;
}

.profile-img {
    max-width: 220px;
    max-height: 300px;
    width: auto;
    height: auto;
    background-size: contain;
    right: 0;
    position: absolute;
    display: flex;
    padding: 15px;
    margin-right: 7%;
    align-items: flex-end;
    z-index: -1;
}
.prof {
    display: contents;
}

/* PORTFOLIO STYLE SECTION  */
.work-samples {
   background: rgb(235,200,178, .5);
}
.grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: dense;
}

.grid-item {
    border: 5px solid var(--primary);
    grid-column: span 4;
    min-height: 150px;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    background-size: 150%;
    font-size: 0.9rem;
  }
.grid-item h3 {
    font-size: 1.1rem;  
    font-weight: lighter; 
  }
.grid-item:first-child {
    grid-column: span 8;
    grid-row: span 2;
}
.grid-item:hover {
    color: black;
    background-blend-mode: soft-light;
  }

.grid-item div {
    background-color: var(--primary);
    padding: 5px;
  }

/* CONTACT ME STYLE SECTION */
.contact {
    background:  rgb(133,112,112, .25);
}
.contact address {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}
.contact address a {
    color: var(--tertiary);
    padding: 5px;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: lighter;
    font-style: normal;
    text-align: left;
    text-align: left;
    margin: 0 auto; 
}

.contact address a:hover {
    color: var(--darker);
  }
  
/* FOOTER STYLE SECTION */
footer {
    background: rgb(133,112,112, .25);
    width: 100%;
    padding: 40px 35px;
}
footer h2 {
    color: var(--tertiary);
    font-size: 2vw;
    font-weight: lighter;
    text-align: center;
    width: 100%;
    margin: 0;
}

  /* IMAGES  */
.horiseon {
    background-image: url("../images/horiseon.jpg");
    background-size: cover;
  }
  
.news {
    background-image: url("../images/news.jpg");
    background-size: cover;
}  
.askFather {
    background-image: url("../images/askFather.jpg");
    background-size: cover;
  }
.portfolio-1 {
    background-image: url("../images/portfolio-1.jpg");
  }
  
.portfolio-3 {
    background-image: url("../images/portfolio-3.jpg");
  }
  
.portfolio-4 {
    background-image: url("../images/portfolio-4.jpg");
}

/* Media Query for Desktop Screens and Smaller */
@media screen and (max-width: 980px) {
    header {
      padding: 0;
      justify-content: center;
      position: relative;
    }
    header h1 {
      width: 100%;
      padding: 5px;
      text-align: center;
      font-size: 10vw;
    }
    header nav ul {
      justify-content: center;
      width: 100%;
    }
    header nav ul li a {
        font-size: 20px;
    }
    header nav a {
    background-size: 100%;
    color: var(--primary);
   }

   .contact address a {
       font-size: 1.2rem;
       font-weight: lighter;
       width: 80%;
   }
}

/* Media Query for Tablets and Smaller */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-auto-rows: minmax(200px, 1fr)
    }
    .grid-item, grid-item:first-child {
        grid-column: 1 / -1;
        background-size: cover;
    }
    .grid-item:first-child {
        width: 150%
    }
    .contact address {
        flex-direction: row;
        align-items: flex-start;
    }
    .contact address a {
        font-size: 1rem;
        font-weight: lighter;
    }
    footer h2 {
        font-size: 1.2rem
    }
    .info {
        text-align: center;
        justify-content: center;
        width: 100%
    }
    .info h2 {
        font-size: 10vw;
        border-right: none;
        width: auto;
        padding-left: 25px;
        text-align: center;
        flex: auto;
        justify-content: center;
    }
    .about p {
        width: 100%;
        display: inline-flex;
    }
    .profile-img {
        position: relative;
    }

    header {
        background-size: cover;
        background-position: unset;
    }
    .hero {
        background-size: cover;
        background-position: unset;
    }
}
